@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('components/container.css');
@import url('components/avatar.css');
@import url('components/button.css');
@import url('components/banner.css');
@import url('components/card.css');


body {
	font-family: 'League Spartan', sans-serif;
	font-size: 18px ;
	font-weight: 200;
	background-color: #f8f9fa;
}

h1 {
	font-family: 'EB Garamond', serif;
	font-weight: semi-bold 600;
}

h2, h3 {
	font-weight: medium 400;
}

a {
	text-decoration: none;
}